
@font-face {
  font-family: 'Graviola Soft';
  src: local('Graviola Soft Regular'), 
  url(./../assets/fonts/graviola_soft_regular.otf) format('opentype');
}

body {
  margin: 0;
  font-family: 'Graviola Soft' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #DDDDDD;
  }
  
  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 8px;
    height: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: #DDDDDD;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 6px #DDDDDD; 
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #ADADAD;
    border-radius: 10px;
    /* border: 3px solid #ADADAD; */
    -webkit-box-shadow: inset 0 0 6px #ADADAD; 
  
  }